.container-footer {
  background-color: white
}
.containerImage {
  display: flex;
  align-items: center;
  background-color: var(--blue);
  border-radius: 50%;
  padding: 15px;
  border: none;
  text-decoration: none;
  color: black;
}
.text-blue {
  color: var(--dark-blue);
  text-decoration: none;
}
