.cardCtn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  margin-top: 20px;
  padding: 40px 0px !important;
}
.btnLink {
  background: var(--dark-blue);
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  padding: 10px 10px;
  margin: 10px 70px;
}


