.activitiesSearchForm {
  width: 100%;
}
.activitiesSearchInput {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-family: var(--font-family);
  font-weight: 500;
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  border-radius: 0.5rem;
}
.activitiesSearchInput::placeholder {
  font-family: var(--font-family);
  color: var(--dark-blue);
}

