.memberCard {
    width: 330px;
    margin-top: 0;
    text-align: center;
    height: auto;
}

.memberCard a {
    text-decoration: none;
}

.cardImgTop {
    height: 220px;
    object-fit: cover;
    box-shadow: var(--card-shadow);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
}

.card-body p, .card-body h5 {
    margin-bottom: 0;
}

.container-icons {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 1200px) {
    .memberCard {
        width: 345px;
    }
}

@media (min-width: 1400px) {
    .memberCard {
        width: 294px;
    }
}

