.card {
    padding: 0 !important;
    text-align: center;
}

.card a {
    text-decoration: none;
}

.card-img-top {
    height: 280px;
    object-fit: cover;
    box-shadow: var(--card-shadow);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
}

.container-icons {
    display: flex;
    justify-content: space-around;
}

