.headerCtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navCtn {
    padding: 0px 20px;
}

.ulCtn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.ulCtn li {
    margin-left: 14px;
    align-items: center;
    color: #8DC9FF;
    font-size: 20px;
    cursor: pointer;
}

.ulCtn a {
    text-decoration: none;
}

.ulCtn a:hover {
    padding-bottom: 0.25rem;
    border-bottom: 4px solid #EC4C4B;
}

