.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuIcon {
  font-size: 30px;
  display: none;
  cursor: pointer;
}

.nav {
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.linkToSection {
    text-decoration: none;
    align-items:center;
    color: var(--blue);
    transition: color 0.3s ease;
    justify-content:space-between;
}

.active {
   color: var(--dark-blue);
}

.containerButtons {
  display: flex;
}

.iconoBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 60px;
  height: var(--heigth-button);
  border-radius: var(--border-radius);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition-duration: 0.4s;
}

.iconoBtn i {
  font-size: 22px;
  color: var(--black);
}
