 
.nav{
    display:inline-block;
    justify-content:space-between;
}

.link-to-section {
    text-decoration: none;
    align-items:center;
    color: #7c97ad;
    transition: color 0.3s ease;
    justify-content:space-between;
}
  /* logo    */
.logo {
    display: block;
    width: 100%;
}

  /* button */
  .stroke-btn {
    border: 2px solid var(--blue);
    color: var(--black);  
    background: transparent;
    box-sizing: border-box;
  }
  
  .stroke-btn {
    border: 2px solid var(--dark-blue);
    color: var(--dark-blue);
  }
  .fill-btn {
    background: var(--blue);
    color: var(--black);
  }
  
  .fill-btn:hover {
    background: var(--dark-blue);
    color: var(--black);
  }
  
  