.container-footer {
  padding: 40px 0;
  border-top: 2px solid var(--black);
  border-top: 2px solid rgb(88, 88, 88);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-nav {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  transition: color 0.3s ease;
}

.link-nav:hover {
  color: var(--dark-blue)
}

.logo {
  display: block;
  width: 100%;
}

.row-nav {
  padding-bottom: 40px;
  border-bottom: 2px solid rgb(160, 160, 160);
}

.row-social {
  padding: 40px 0;
}

.social-icon-container {
  width: 260px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.link-social {
  text-decoration: none;
  background: var(--blue);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: all 0.3s ease;
}

.link-social i {
  font-size: 20px;
  color: var(--black);
  transition: all 0.3s ease;
}

.link-social:hover i{
  color: var(--white);
}

.row-copyright {
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
}