.containerBg {
  background-color: #edf2f7;
  padding-top: 4rem;
  min-height: 100vh;
}
.cardBg {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 1px 5px 1px #d5d9de;
}
.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.logo {
  margin: 1rem 0 2rem 0;
}
.description {
  text-align: center;
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .cardBg {
    width: 80%;
    margin: auto;
    padding: 30px;
  }
}

@media (min-width: 1200px) {
  .containerSm {
    width: 600px;
    margin: auto;
  }
  .cardBg {
    width: 100%;
    padding: 40px;
  }
  .title {
    font-size: 2rem;
  }
  .description {
    text-align: center;
    font-size: 1rem;
  }
}