@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --black: #2c2c2c;
  --white: #ffffff;
  --blue: #9ac9fb;
  --blue-hover: rgba(154, 201, 251, 0.8);
  --dark-blue: #7ba1c9;
  --grey: #c2c2c2;
  --red: #db5752;
  --red-hover: rgba(219, 87, 82, 0.8);
  --yellow: #fafa88;
  --bg-light-blue: #edf2f7;
  --width-button: 120px;
  --heigth-button: 40px;
  --border-radius: 6px;
  --font-family: "Montserrat", sans-serif;
  --font-size: 15px;
  --card-shadow: 2px 2px 6px rgb(187, 187, 187);
  --form-shadow: 0 10px 6px -4px rgba(123, 161, 201, 0.5);
  --bp-medium: 768px;
  --bp-large: 1024px;
  --transition: 150ms ease-in-out;
}

body {
  margin: 0;
  font-family: var(--font-family);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input, textarea, select {
  border: 2px solid var(--blue) !important;
}

/* Buttons */

.general-btn {
  min-width: var(--width-button);
  height: var(--heigth-button);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition-duration: 0.4s;
}
.fill-btn {
  background: var(--blue);
  color: var(--black);
}
.fill-btn:hover {
  background: var(--dark-blue);
  color: var(--black);
}
.fill-black-btn {
  background: var(--black);
  border: 2px solid var(--black);
  box-sizing: border-box;
  color: var(--white);
}
.fill-black-btn:hover {
  border: 2px solid var(--black);
  background: none;
  color: var(--black);
}
.stroke-btn {
  border: 2px solid var(--blue);
  color: var(--black);
  background: transparent;
  box-sizing: border-box;
}
.stroke-btn {
  border: 2px solid var(--dark-blue);
  color: var(--dark-blue);
}
.register-btn {
  width: 100%;
  max-width: 450px;
  height: 50px;
  margin: auto;
  background: var(--blue);
  color: var(--white);
  text-transform: uppercase;
}
.register-btn:hover {
  background: var(--dark-blue);
}
.btn-popup {
  width: 100%;
  max-width: 450px;
  height: 30px;
  margin: auto;
  color: var(--dark-blue) !important;
  font-size: 0.75rem;
  font-weight: 700;
  font-family: var(--font-family);
  border: none !important;
}
.btn-popup:hover {
  background-color: rgba(123, 161, 201, 0.5);
  color: var(--black) !important;
}
.accepted {
  background-color: var(--dark-blue) !important;
  color: var(--white) !important;
}
.btn-control {
  width: 35px;
  height: 35px;
  display: block;
  background-color: var(--blue);
  border: none;
  transition: all 150ms ease-in-out;
}
.btn-control:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}
.btn-accept {
  background-color: var(--blue) !important;
  color: var(--white) !important;
  font-weight: 700;
  font-family: var(--font-family);
}
.btn-accept:hover {
  background-color: var(--blue-hover) !important;
}
.btn-decline {
  background-color: var(--red) !important;
  color: var(--white) !important;
  font-weight: 700;
  font-family: var(--font-family);
}
.btn-decline:hover {
  background-color: var(--red-hover) !important;
}
.register-btn {
  width: 100%;
  max-width: 450px;
  height: 50px;
  margin: auto;
  background: var(--blue);
  color: var(--white);
  text-transform: uppercase;
}
.register-btn:hover {
  background: var(--dark-blue);
}

/* Cards */

.container-cards {
  width: 100%;
  height: auto;
  margin: 1rem auto;
  padding: 0 1rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 30px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
@media screen and (min-width: 1024px) {
  .container-cards {
    padding: 0 3rem;
    gap: 50px;
    flex-flow: row wrap;
    justify-content: center;
    overflow: hidden;
  }
}
.container-cards::-webkit-scrollbar {
  width: 12px;
}
.container-cards::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
  cursor: pointer;
}
.container-cards::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  -webkit-box-shadow: inset 0 0 6px var(--blue);
  box-shadow: inset 0 0 6px var(--blue);
}
.card {
  box-shadow: var(--card-shadow);
}

/* Tablas Listados */
/*Mobile*/
.table-container {
  display: flex;
  flex-flow: row;
  overflow-x: scroll;
}
/*Desktop and up*/
@media screen and (min-width: 1024px) {
  .table-container {
    flex-flow: column;
    overflow: hidden;
  }
}

.table-list {
  border: 2px solid rgb(207, 207, 207);
  text-align: center;
}

.thead-list {
  border: 2px solid rgb(207, 207, 207);
  text-transform: uppercase;
}

.btn-list {
  border: none;
  font-size: 18px;
}

.btn-edit {
  background: var(--blue);
  margin-right: 10px;
}

.btn-delete {
  background: var(--red);
}

.img-table {
  display: block;
  width: 150px;
  height: 150px;
  margin: auto;
  object-fit: cover;
}

/* Others */
.color-icon-search {
  color: var(--dark-blue);
}
