@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --black: #2c2c2c;
  --white: #ffffff;
  --blue: #9AC9FB;
  --dark-blue: #7BA1C9;
  --grey: #C2C2C2;
  --red: #DB5752;
  --yellow: #FAFA88;
  --bg-light-blue: #edf2f7;
  --width-button: 140px;
  --heigth-button: 40px;
  --border-radius: 6px;
  --font-family: 'Montserrat', sans-serif;
  --font-size: 15px;
  --card-shadow: 2px 2px 6px rgb(224, 224, 224);
}

body {
  margin: 0;
  font-family: var(--font-family);
}

/* Buttons */

.general-btn {
  width: var(--width-button);
  height: var(--heigth-button);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition-duration: 0.4s;
}

.fill-btn {
  background: var(--blue);
  color: var(--black);
}

.fill-btn:hover {
  background: var(--dark-blue);
  color: var(--black);
}

.fill-black-btn {
  background: var(--black);
  border: 2px solid var(--black);
  box-sizing: border-box;
  color: var(--white);
}

.fill-black-btn:hover {
  border: 2px solid var(--black);
  background: none;
  color: var(--black);
}

.stroke-btn {
  border: 2px solid var(--blue);
  color: var(--black);  
  background: transparent;
  box-sizing: border-box;
}

.stroke-btn:hover {
  border: 2px solid var(--dark-blue);
  color: var(--dark-blue);
}

/* Cards */

.card {
  box-shadow: var(--card-shadow);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Tablas Listados */

.table-list {
  border: 2px solid rgb(207, 207, 207);
  text-align: center;
}

.thead-list {
  border: 2px solid rgb(207, 207, 207);
  text-transform: uppercase;
}

.btn-list {
  border: none;
  font-size: 18px;
}

.btn-edit {
  background: var(--blue);
  margin-right: 10px;
}

.btn-delete {
  background: var(--red);
}

.img-table {
  display: block;
  width: 150px;
  height: 150px;
  margin: auto;
  object-fit: cover;
}


