.container-home-news {
  background: #f2f3e6;
  padding: 5rem 0 6rem 0;
}

.title-home-news {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  text-shadow: 1px 1px 2px rgb(197, 197, 197);
}

.title-home-news::before {
  content: '';
  display: inline-block;
  height: 4px;
  width: 80px;
  margin-right: 16px;
  background-color: var(--blue);
  border-radius: 8px;
}

.title-home-news::after {
  content: '';
  display: inline-block;
  height: 4px;
  width: 80px;
  margin-left: 16px;
  background-color: var(--blue);
  border-radius: 8px;
}

@media (max-width: 576px) {
  .title-home-news::before {
    content: none;
  }
  .title-home-news::after {
    content: none
  }
}